/*Custom CSS*/

html, body {
    background: url(../Assets/bg.jpg) no-repeat right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

#sidebar, #sidebar a,#sidebar-footer a {
    color: #ffffff;
    background-color: rgb(11.7%, 34.3%, 0%);
    text-shadow: 0 0 2px #000000;
    padding-left: 5px;
}

#sidebar {
    padding: 0px;
    padding-top: 15px;
    position: fixed;
}

#sidebar .nav li>a:hover {
    background-color: #393939;
}

#sidebar-footer {
    position: absolute;
    bottom: 5px;
    padding: 5px;
}

.column {
    height: 100%;
    overflow: auto;
}

#footer {
    margin-bottom: 20px;
}

.wrapper, .row {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}

#lg-menu {
    padding-left: 5px;
}

@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-left.active {
        left: 33%;
    }
    .row-offcanvas-left.active .sidebar-offcanvas {
        left: -33%;
        position: absolute;
        top: 0;
        width: 33%;
        margin-left: 5px;
    }
    #sidebar,
    #sidebar a,
    #sidebar-footer a {
        padding-left: 3px;
    }
}

.panel{
  opacity:.8;
}
